/node_modules
/config/v2board.php
/public/hot
/public/storage
/public/env.example.js
/storage/*.key
/vendor
.env
.env.backup
.env.backup.*
.phpunit.result.cache
*.bak
*.bak.*
*.bak_*
*.bak-*
core
/resources/rules/backups/
/resources/rules-backup-*/
/resources/rules.backup-*/
.idea
.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer.lock
yarn.lock
docker-compose.yml
.DS_Store
